
services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      # mapowanie folderu aby sqlite i załączniki nie zniknęły po restarcie
      - ./backend/data:/app/data
    env_file:
      - .env
    expose:
      - "8000"


  # frontend
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    expose:
      - "80"


  proxy:
    build: ./nginx
    ports:
      - "80:80"
      - "443:443" # https
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
      - frontend
